@model EditProjectViewModel

<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditProject" asp-controller="Project">

            <input type="hidden" name="Form.Id" id="editProjectForm_Id" />

            <div class="image-previewer square">
                <img src="" class="image-preview" />
                <input accept="image/*" class="d-none" />
            </div>

            <div class="form-group">
                <label asp-for="Form.ProjectName">Project Name</label>
                <div class="field-group">
                    <input asp-for="Form.ProjectName" type="text" placeholder="Project Name" />
                    <span asp-validation-for="Form.ProjectName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Form.ClientName"></label>
                <div class="field-group">
                    <select asp-for="Form.ClientId" asp-items="ViewBag.Clients">
                        <option value="">-- Choose a Client --</option>
                    </select>
                    <span asp-validation-for="Form.ClientName"></span>
                </div>
            </div>
@*             <div class="form-group">
                <label asp-for="Form.ClientName">Client</label>
                <div class="field-group">
                    <select asp-for="Form.ClientName" name="client" id="client">
                        <option value="">-- Choose a Client --</option>
                        @foreach (var client in Model.Clients) 
                        { 
                            <option value="@client.Id" selected="@(client.Id == Model.Form.ClientId ? "selected" : null)">
                                @client.ClientName
                            </option> 
                        } 

                    </select>
                    <span asp-validation-for="Form.ClientName" class="field-validation-error">Required</span>
                </div>
            </div> *@
            <div class="form-group">
                <label asp-for="Form.Description">Description</label>
                <div class="field-group">
                    <input asp-for="Form.Description" type="text" placeholder="Type something" />
                    <span asp-validation-for="Form.Description"></span>
                </div>
            </div>
            <div class="form-group-date">
                <div>
                    <label asp-for="Form.StartDate">Start Date</label>
                    <div class="field-group">
                        <input asp-for="Form.StartDate" type="date" placeholder="Enter start date" />
                        <span asp-validation-for="Form.StartDate"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Form.EndDate">End Date</label>
                    <div class="field-group">
                        <input asp-for="Form.EndDate" type="date" placeholder="Enter end date" />
                        <span asp-validation-for="Form.EndDate"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Form.Budget">Budget</label>
                <div class="field-group">
                    <input asp-for="Form.Budget" type="text" placeholder="0" />
                    <span asp-validation-for="Form.Budget"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Form.Status"></label>
                <div class="field-group">
                    <select asp-for="Form.StatusId" asp-items="ViewBag.Statuses">
                        <option value="0">-- Choose a Status --</option>
                    </select>
                    <span asp-validation-for="Form.Status"></span>
                </div>
            </div>
@*             <div class="form-group">
                <label asp-for="Form.Status">Status</label>
                <div class="field-group">
                    <select asp-for="Form.StatusId" name="status" id="status">
                        <option value="">-- Choose a Status --</option>
                        @foreach (var status in Model.Statuses)
                        {
                            <option value="@status.Id" selected="@(status.Id == Model.Form.StatusId ? "selected" : null)">
                                @status.StatusName
                            </option>
                        }

                    </select>
                    <span asp-validation-for="Form.Status" class="field-validation-error">Required</span>
                </div>
            </div> *@

            <button type="submit" class="btn btn-blue btn-submit">Save</button>

        </form>
    </div>
</div>



